<import from="/layout/global" name="html5">
	<extend name="title">
		404--layui后台管理模板 2.0
	</extend>
	<extend name="body">
		<div class="noFind">
			<div class="ufo">
				<i class="seraph icon-test ufo_icon"></i>
				<i class="layui-icon page_icon">&#xe638;</i>
			</div>
			<div class="page404">
				<i class="layui-icon">&#xe61c;</i>
				<p>我勒个去，页面被外星人挟持了!</p>
			</div>
		</div>
	</extend>

	<extend name="jsfoot">
		<script type="text/javascript" src="{{C.PATH.GPUBLIC}}layui/layui.js"></script>
		<script type="text/javascript" src="{{C.PATH.PUBLIC}}js/page/icons.js"></script>
	</extend>
</import>