<export name="html5">
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>
      <extend name="title" />
    </title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <script>
      var JS_BASE = '{{C.PATH.PUBLIC}}js/';
      var JSON_API = '{{C.PATH.APP_SERVER_PATH}}json/';
      var SERVER_PATH = '{{C.PATH.APP_SERVER_PATH}}';
      var PUBLIC_PATH = '{{C.PATH.PUBLIC}}';
    </script>

    <link rel="stylesheet" href="{{C.PATH.GPUBLIC}}layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="{{C.PATH.PUBLIC}}css/public.css" media="all" />

    <extend name="css" />
    <extend name="jshead" />
  </head>

  <body class="childrenBody">
    <extend name="body" />
  </body>

  <script type="text/javascript" src="{{C.PATH.GPUBLIC}}layui/layui.js"></script>
  <script>
    // 打开页面
    function openPage(pageurl, pageTitle) {
      var index = layui.layer.open({
        title: pageTitle,
        type: 2,
        content: pageurl,
        success: function(layero, index) {
          var body = layui.layer.getChildFrame('body', index);
          setTimeout(function() {
            layui.layer.tips('点击此处返回数据表列表', '.layui-layer-setwin .layui-layer-close', {
              tips: 3
            });
          }, 500)
        }
      });
      layui.layer.full(index);
      //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
      $(window).on("resize", function() {
        layui.layer.full(index);
      })
    }
  </script>

  <extend name="jsfoot" />

  </html>
</export>

<export name="html5-outer">
  <!DOCTYPE html>
  <html class="loginHtml">

  <head>
    <meta charset="utf-8">
    <title>
      <extend name="title" />
    </title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <script>
      var JS_BASE = '{{C.PATH.PUBLIC}}js/';
      var SERVER_PATH = '{{C.PATH.APP_SERVER_PATH}}';
      var JSON_API = '{{C.PATH.APP_SERVER_PATH}}json/';
      var PUBLIC_PATH = '{{C.PATH.PUBLIC}}';
    </script>

    <link rel="stylesheet" href="{{C.PATH.GPUBLIC}}layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="{{C.PATH.PUBLIC}}css/public.css" media="all" />

    <extend name="css" />
    <extend name="jshead" />
  </head>

  <extend name="body" />

  <extend name="jsfoot" />

  </html>
</export>